@font-face{
	font-family: 'Architect';
	src: url('../fonts/Architects_Daughter/ArchitectsDaughter.ttf');
}
	
@font-face{
	font-family: 'Audiowide';
	src: url('../fonts/Audiowide/Audiowide.ttf');
}

@font-face{
	font-family: 'Baloo';
	src: url('../fonts/Baloo/Baloo-Regular.ttf');
}

@font-face{
	font-family: 'Black One';
	src: url('../fonts/Black_One/BlackOne-Regular.ttf');
}
	
@font-face{
	font-family: 'Ceviche';
	src: url('../fonts/Ceviche_One/CevicheOne.ttf');
}
	
@font-face{
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa.ttf');
}

@font-face{
	font-family: 'Courgette';
	src: url('../fonts/Courgette/Courgette.ttf');
}

@font-face{
	font-family: 'Exo';
	src: url('../fonts/Exo2/Exo2-Regular.ttf');
}

@font-face{
	font-family: 'Faster';
	src: url('../fonts/Faster_One/FasterOne-Regular.ttf');
}

@font-face{
	font-family: 'Germania';
	src: url('../fonts/Germania_One/GermaniaOne-Regular.ttf');
}

@font-face{
	font-family: 'Good Times';
	src: url('../fonts/Good_Times_Rg/Good_Times_Rg.ttf');
}

@font-face{
	font-family: 'Indie Flower';
	src: url('../fonts/Indie_Flower/IndieFlower.ttf');
}

@font-face{
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato.ttf');
}

@font-face{
	font-family: 'Nosifer';
	src: url('../fonts/Nosifer/Nosifer.ttf');
}

@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans.ttf');
}

@font-face{
	font-family: 'Playball';
	src: url('../fonts/Playball/Playball.ttf');
}

@font-face{
	font-family: 'Poiret';
	src: url('../fonts/Poiret_One/PoiretOne.ttf');
}

@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway.ttf');
}

@font-face{
	font-family: 'Righteous';
	src: url('../fonts/Righteous/Righteous-Regular.ttf');
}

@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto.ttf');
}

@font-face{
	font-family: 'Roboto Slab';
	src: url('../fonts/Roboto_Slab/RobotoSlab.ttf');
}

@font-face{
	font-family: 'Russo';
	src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face{
	font-family: 'Tangerine';
	src: url('../fonts/Tangerine/Tangerine.ttf');
}

@font-face{
	font-family: 'Titan';
	src: url('../fonts/Titan_One/TitanOne-Regular.ttf');
}

@font-face{
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu.ttf');
}